
body
{
background-image: url(CG/images (1).jpg);
background-repeat: repeat-x;
background-position-x: center;
background-postion-y: top;
background-attachment: fixed;
background-color: #cccccc;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}
